@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == smaller-screens {
     @media only screen and (max-width: 768px) { @content; } 
  }
  @else if $media == small-screens {
     @media only screen and (max-width: 620px) { @content; } 
    }
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

html,
body
{
    // width: 100%;
    // height: 100%;
    // margin: 0;
    // overflow-x: hidden;
}

.section
{
    max-width: 1600px;
    margin: 0 auto 10% auto;
    
}

img
{
    width: 100%;
}

a
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(12, 14, 480, 1600);
    font-weight: 700;
    display: inline-block;

    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: $light-grey-text;
}

.clearfix::after
{
    display: table;
    clear: both;
    overflow: hidden;

    content: '';
}

h1
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(24, 44, 480, 1600);
    
    font-weight: bold;

    padding-bottom: 40px;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #292929;
    text-shadow: 5px 26px 81px rgba(0, 15, 26, 0);
    
    @include respond-to(small-screens) { color: white; }
}

h2
{
    color: white;

    @extend h1;
}

h3
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(14, 18, 480, 1600);
    font-weight: 400;

    display: inline-block;

    margin-bottom: 20px;

    color: $light-grey-text;
    
    @include respond-to(small-screens) { color: white; }
}

h4
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(26, 48, 480, 1600);
    font-weight: bold;

    text-align: center;
    letter-spacing: 15px;
    text-transform: uppercase;

    color: $light-grey-text;
    
    @include respond-to(medium-screens) { letter-spacing: 0px;}
}

h5
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(13, 22, 480, 1600);
    font-weight: bold;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: $light-grey-text;
}

p
{
    font-family: 'Montserrat';
    font-size: calcFluidFontSize(14, 16, 480, 1600);
    font-weight: 300;
    line-height: 30px;

    color: $grey-passage;
}
