html,
body
{
    // width: 100%;
    // height: 100%;
    // margin: 0;
    // overflow-x: hidden;
}

.section
{
    max-width: 1600px;
    margin: 0 auto 10% auto;
}

img
{
    width: 100%;
}

a
{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    display: inline-block;

    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: $light-grey-text;
}

.clearfix::after
{
    display: table;
    clear: both;
    overflow: hidden;

    content: '';
}

h1
{
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: bold;

    padding-bottom: 40px;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #292929;
    text-shadow: 5px 26px 81px rgba(0, 15, 26, 0);
}

h2
{
    color: white;

    @extend h1;
}

h3
{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;

    display: inline-block;

    margin-bottom: 20px;

    color: $light-grey-text;
}

h4
{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;

    text-align: center;
    letter-spacing: 15px;
    text-transform: uppercase;

    color: $light-grey-text;
}

h5
{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bold;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: $light-grey-text;
}

p
{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    color: $grey-passage;
}
