@font-face {
    font-family: 'MullerThinDemo';
    src: url('../fonts/MullerThinDemo.ttf');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'MullerExtraBoldDemo';
    src: url('../fonts/MullerExtraBoldDemo.ttf');
    font-weight: normal;
    font-style: normal;
 }