<section class="slider-gallery-1">

	<div class="gallery">
		<div class="gallery__image"><img src="images/voyager-slider-1.png" alt="voyager_1"></div>
		<div class="gallery__image"><img src="images/voyager-slider-2.png" alt="voyager_2"></div>
		<div class="gallery__image gallery__image--active"><img src="images/voyager-slider-3.png" alt="voyager_3"></div>
		<div class="gallery__image"><img src="images/voyager-slider-4.png" alt="voyager_3"></div>
	</div>

	<ul class="gallery-nav">
		<li class="gallery-nav__item">01</li>
		<li class="gallery-nav__item">02</li>
		<li class="gallery-nav__item gallery-nav__item--hover slide-active">03</li>
		<li class="gallery-nav__item">04</li>
		<li class="gallery-nav__item">05</li>
	</ul>
	
</section>