<section class="sect1">
<div>
	<div class="top">
		<div class="top__logo">
			<img src="../images/logo.png" alt="logo">
		</div>
		<nav class="top__navigation">
			<a class="navigation__link" href="">NAVY SALT</a>
			<a class="navigation__link" href="">VOYAGER</a>
			<a class="navigation__link" href="">DRIFTER</a>
			<a class="navigation__link" href="">COLLECTION</a>
			<a class="navigation__link" href="">CONTACT</a>
		</nav>
	</div>

		<ul class="slider">
			<li class="slider__navigationUp"><a href=""></a></li>
			<li class="slider__navigationDown"><a href=""></a></li>
			<li class="slider__button">01</li>
			<li class="slider__button">02</li>
			<li class="slider__button">03</li>
			<li class="slider__button">04</li>
			<li class="slider__button">05</li>
		</ul>

		<div class="title">
			<h3 class="title__h3">
				Designed for utility
			</h3> <br>
			<h1 class="title__h1">
				Navy Salt & Pepper
			</h1> <br>
			<a class="title__link" href="">Gear UP</a>
		</div>
</div>
</section>