<section id="section-2">
    <div class="section section-voyager">
        <div class="voyager">
            <div class="voyager__title">
                <h2 class="title__head">
				VOYAGER DAYPACK
			</h2>
                <br>
                <h3 class="title__description">
				NAVY SALT & PEPPER
			</h3>
                <br>
            </div>
            <div class="voyager__passage">
                <p class="voyager__passage--left">
                    Whether you’re stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments. Compact, lightweight and a comfortable for people of all sizes. this silhouette is versatile enough to fit just about anyone’s daily routine.
                </p>
            </div>
        </div>
    </div>
</section>
@@include('blocks/slider_1.html')