<section>
<div class="section section-drifter">
	<div class="drifter">
		<div class="drifter__title">
			<h2 class="title__head">
				DRIFTER DOPP KIT
			</h2> <br>
			<h3 class="title__description">
				NAVY SALT & PEPPER
			</h3><br>
		</div>

		<div class="drifter__passage">
			<p class="drifter__passage--right">
			Field-tested from the peaks of the Cascades down 
			to the desert floor of Joshua Tree, the Wilderness Rucksack was built to put on some serious miles 
			for years to come. A comfortable, dependable combination of 14oz Salt & Pepper canvas, premium wool felt, and Cambara English bridle leather.
			</p>
		</div>
	</div>
</div>
</section>