<section>
	
	<h2>Tanner Collections</h2>
	<h3>NAVY SALT & PEPPER</h3>'
	<i></i>
	<h3>
		NOMAD DUFFLE
	</h3>
	<p>This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs</p>
	<a href="">read more</a>

	<h3>
		SPRUCE SALT & PEPPER
	</h3>
	<p>We designed our Nomad Duffle as a versatile yet rugged piece of luggage that's just as comfortable outdoors as it is in an overhead compartment</p>
	<a href="">read more</a>

	<h3>
		FIELD CAMERA BAG
	</h3>
	<p>Our field camera bag is constructed from 14oz Salt & Pepper canvas and Cambara Meridian English bridle leather. We've put these bags through the ringer in testing and we think you'll approve of the result. Our Camera Bag is fully lined and padded, and features an adjustable shoulder strap and pad, as well as two interior flap pockets for smaller gear and film.</p>
	<a href="">read more</a>

	<div></div>

</section>