<section class="section-4">
    <div class="section-tanner">
        <h4 class="tanner-title">Tanner Collections</h4>
        <br>
        <h3 class="tanner-subtitle">NAVY SALT & PEPPER</h3>
        <br>
        
        <div class="tanner-1">
            <div class="tanner-1__image">
                <img src="images/tanner-1.png" alt="tanner-1">
            </div>
            <div class="tanner-1__text">
                <h5 class="text-title">
					NOMAD DUFFLE
				</h5>
                <p class="text__passage">This bag can be carried by hand, worn as a backpack or slung over a shoulder depending on your traveling needs</p>
                <br>
                <a class="text__link" href="">read more</a>
            </div>
        </div>

        <div class="tanner-2">
            <div class="tanner-2__text">
                <h5 class="text-title">
					SPRUCE SALT & PEPPER
				</h5>
                <p class="text__passage to-right">We designed our Nomad Duffle as a versatile yet rugged piece of luggage that's just as comfortable outdoors as it is in an overhead compartment</p>
                <br>
                <a class="text__link to-right" href="">read more</a>
            </div>
            <div class="tanner-2__image">
                <img src="images/tanner-2.png" alt="tanner-2">
            </div>
        </div>
        <div class="tanner-3">
            <div class="tanner-3__image">
                <img src="images/tanner-3.png" alt="tanner-3">
            </div>
            <div class="tanner-3__text to-right--2">
                <h5 class="text-title">
					FIELD CAMERA BAG
				</h5>
                <p class="text__passage">Our field camera bag is constructed from 14oz Salt & Pepper canvas and Cambara Meridian English bridle leather. We've put these bags through the ringer in testing and we think you'll approve of the result. Our Camera Bag is fully lined and padded, and features an adjustable shoulder strap and pad, as well as two interior flap pockets for smaller gear and film.</p>
                <br>
                <a class="text__link" href="">read more</a>
            </div>
        </div>
        <div class="tanner-4">
            <h5 class="tanner__title-white">
					VOYAGER<br>
					DAYPACK
				</h5>
            <div class="tanner-4__image">
                <img src="images/tanner-4.png" alt="tanner-4">
            </div>
        </div>
    </div>
    <div class="slider-2">
        <a class="darken" href=""><img src="images/tanner-slider-1.png" alt="" class="slider-2__image"></a>
        <a class="darken" href=""><img src="images/tanner-slider-2.png" alt="" class="slider-2__image"></a>
        <a class="darken" href=""><img src="images/tanner-slider-3.png" alt="" class="slider-2__image"></a>
        <a class="darken" href=""><img src="images/tanner-slider-4.png" alt="" class="slider-2__image"></a>
        <a class="darken" href=""><img src="images/tanner-slider-1.png" alt="" class="slider-2__image"></a>
        <a class="darken" href=""><img src="images/tanner-slider-6.png" alt="" class="slider-2__image"></a>
    </div>
</section>
