<footer class="section-5">
    <div class="footer">
        <div class="footer__wraper-1">
            <div class="footer__logo">
                <img src="images/logo-2.png" alt="logo">
            </div>
            <nav class="footer__navigation-1">
                <a class="navigation__link" href="">FINDA</a>
                <a class="navigation__link" href="">STORE</a>
                <a class="navigation__link" href="">SIZING</a>
                <a class="navigation__link" href="">CARE</a>
                <a class="navigation__link" href="">WATCH</a>
            </nav>
            <address class="footer__address">
                <span>Sebazzo Ltd, Unit 3F2</span>
                <br> Zetland House
                <br> 5-25 Scrutton Street
                <br> London EC2A 4HJ
                <br>
            </address>
            <form class="footer__form" action="">
                <p class="form__passage-bold">Email Newsletters</p>
                <br>
                <p class="form__passage">Sign up for new TANNER GOODS content, updates, surveys & offers.</p>
                <br>
                <input class="form__field" type="text" name="Search" id="search" placeholder="Search">
                <input class="form__button" type="submit" name="submit" id="submit" value="">
            </form>
        </div>
        <div class="footer__wraper-2">
            <p class="footer__copyright">© tanner goods portland ore 2016</p>
            <nav class="footer__navigation-2">
                <a class="navigation__link" href="">facebook</a>
                <a class="navigation__link" href="">pinterest</a>
                <a class="navigation__link" href="">twitter</a>
                <a class="navigation__link" href="">instagram</a>
            </nav>
        </div>
    </div>
</footer>
