.section-3 {
	background: $light-grey-bg url('../images/drifter.png') no-repeat 100%;
	-webkit-background-size: 65% 100%;
	     -o-background-size: 65% 100%;
	        background-size: 65% 100%;
}

.drifter {
	position: relative;
	padding: 270px 0;
}

.drifter__title {
	@extend .voyager__title;

	margin-left: 38%;
	text-align: left;
}

.drifter__passage {
	@extend .voyager__passage;
	
	padding: 5% 0% 5% 5%; 
	left: 1%;
}

.drifter__passage--right {
	padding-right: 60%;
}

.drifter__passage::after {
	@extend .voyager__passage::after;
	
    left: 13%;
    background-color: $light-grey-bg;  
}

.drifter__passage::before {
	@extend .voyager__passage::before;
	
    left: 21%;
}