@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == smaller-screens {
     @media only screen and (max-width: 768px) { @content; } 
  }
  @else if $media == small-screens {
     @media only screen and (max-width: 620px) { @content; } 
    }
}

#section-3::before {
	background: url('../images/drifter.png') no-repeat 0;
	content: '';
    position: absolute;
    z-index: 1;
    width: 65%;
    height: 100%;
    right: 0;
    display: inline-block;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @include respond-to(medium-screens) { width: 100%; z-index: -1; background: url('../images/drifter.png') no-repeat 70%;}
}

#section-3 {
	position: relative;
	background-color: $light-grey-bg;
  
  @include respond-to(medium-screens) { background-color: rgba(black,0.3); }
}

.section-drifter {
    position: relative;
    margin: 0 auto;
}

.drifter {
	padding: 5% 0 5% 1%;
}

.drifter__title {
	@extend .voyager__title;

	margin-left: 38%;
	text-align: left;
  
  @include respond-to(medium-screens) { 
    position: static;
    z-index: none;
    top: none;
    transform: none;
    max-width: none; }
}

.drifter__passage {
	@extend .voyager__passage;
	margin: 0 30% 0 0;
  
  @include respond-to(medium-screens) { 
    position: static;
    margin: 10%;}
}

.drifter__passage--right {
	margin-right: 60%;
  
  @include respond-to(medium-screens) { 
    margin-right: 0;
    color: white;}
}

// .drifter::after {
// 	@extend .voyager::after;
	
// 	bottom: 0;
//     left: 0;
//     margin: 0 0 5% 8%;
//     background-color: $light-grey-bg;  
// }

// .drifter::before {
// 	@extend .voyager::before;
	
// 	bottom: 0;
//     left: 0;
//     margin: 0 0 -7% 16%;
// }