@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == smaller-screens {
     @media only screen and (max-width: 768px) { @content; } 
  }
  @else if $media == small-screens {
     @media only screen and (max-width: 505x) { @content; } 
    }
}

footer {
	background-color: $light-grey-bg;
}

.footer
{
    max-width: 1600px;
	margin: 0 auto;
    padding: 5% 0 2% 0;
    
}

// LINE 1

.footer__logo
{
    display: inline-block;
    width: 10%;
    min-width: 100px;
    margin: 0 0 30px 1%;

    vertical-align: top;
    
    > img {
    	max-width: 150px;
    }
}

.footer__navigation-1
{
    line-height: 25px;

    display: inline-block;

    width: 40%;
    margin: 0 0 30px 3%;

    text-align: left;
    vertical-align: top;
    
    > a {
    	color: #919191;
    }

    > a:hover {
    	color: black;
    }
}

.footer__address
{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    margin: 0 0 30px 1%;
    min-width: 100px;

    display: inline-block;

    width: 20%;
    min-width: 150px;

    text-align: left;
    vertical-align: top;

    color: #383838;
    > span
    {
        font-family: 'MullerExtraBoldDemo';
    }
}

.footer__form
{
    display: inline-block;

    width: 15%;
    min-width: 200px;
    margin: 0 0 30px 1%;

    text-align: left;
    vertical-align: top;
}

.form__passage-bold
{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 3%;
    letter-spacing: 1px;

    display: inline-block;

    text-transform: uppercase;

    color: #000;
}

.form__passage
{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 100;
    line-height: 25px;
    padding-bottom: 3%;
    
    display: inline-block;

    color: #383838;
}

.form__field
{
    font-size: 16px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 60%;
    max-width: 180px;
    height: 35px;
    margin-right: 5px;
    padding-left: 5px;

    vertical-align: middle;

    border: 1px solid #bababa;
    outline: none;
    background-color: #fff;
}

.form__button
{
    width: 45px;
    height: 35px;

    vertical-align: middle;

    border: none;
    outline: none;
    background: #292929 url('../images/sprite/arrow-right-white.png') no-repeat 50%;
    -webkit-background-size: 15%;
         -o-background-size: 15%;
            background-size: 15%;
}

input[type='submit']:active
{
    background-color: lighten(#292929,20);
}

// LINE 2

.footer__copyright
{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 25px;
    weight: 100;
    margin-top: 1%;
    min-width: 200px;

    display: inline-block;

    width: 30%;
    padding-left: 1%;

    text-transform: uppercase;

    color: #383838;
}

.footer__navigation-2
{
    font-family: 'Muller Thin DEMO';
    font-weight: 400;
    line-height: 25px;

    display: inline-block;
    width: 50%;
    a
    {
        font-family: 'MullerThinDemo';
        font-size: 16px;
        text-transform: none;
    }
    a:hover
    {
        font-family: 'MullerExtraBoldDemo';
    }
}
