.section-2::before {
	background: url('../images/voyager.png') no-repeat 0;
	content: '';
    position: absolute;
    z-index: 1;
    width: 65%;
    height: 100%;
    display: inline-block;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.section-2 {
    position: relative;
}

.voyager
{
    padding: 5% 0 ;
}

.voyager__title
{
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);

    width: 50%;
    margin-left: 12%;

    text-align: right;
}

.title__description
{
    color: white;
}

.voyager__passage
{
    z-index: 2;
    margin-left: 30%;
    padding: 10% 0;
    max-width: 800px;
    padding: 5% 5% 5% 0;

    border: 3px solid $dark-flesh;
}

.voyager__passage--left
{
    margin-left: 60%;
}

.voyager__passage::after
{
    position: absolute;
    right: 13%;
    bottom: 36px;

    width: 20%;
    height: 10px;

    content: '';

    background-color: white;
}

.voyager__passage::before
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: 0 21% -9% 0;

    width: 32px;
    height: 156px;

    content: '';
    transform: scale(.4);

    background: url('../images/sprite.png') 0 0 no-repeat;
}
